/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

.elm-overlay {
  z-index: 1000;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

#game-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.game {
  padding: 5px;
  background-color: #bbb;

  border: 2px solid;
  border-top-color: #ddd;
  border-left-color: #ddd;
  border-right-color: #888;
  border-bottom-color: #888;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;

  background-color: #bbb;

  border: 2px solid;
  border-top-color: #888;
  border-left-color: #888;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
}

.game-info--state {
  cursor: pointer;
  background-color: darkgrey;
  border-width: 0px;

  border: 2px solid;
  border-top-color: #ddd;
  border-left-color: #ddd;
  border-right-color: #888;
  border-bottom-color: #888;
}

.game-info--mines {
  background-color: #333;
  color: #d33;
  padding: 5px 10px;

  display: flex;
  justify-content: center;
  width: 10%;
}

.game-info--time {
  background-color: #333;
  color: #d33;
  padding: 5px 10px;

  display: flex;
  justify-content: center;
  width: 10%;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  height: auto;
  padding: 0px;
  margin: 0px;

  border: 2px solid;
  border-top-color: #888;
  border-left-color: #888;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
}

.cell {
  display: flex;
  width: 20px;
  height: 20px;
  border: 0.3px solid grey;

  font-weight: bold;
}

.cell--open {
  background-color: #bbb;
}

.cell--open.cell--mine {
  background-color: red;
  color: black;
}

.game--playing .cell--closed {
  cursor: pointer;
}

.cell--closed {
  background-color: #bbb;
  border-width: 2px;
  border-top-color: #ddd;
  border-left-color: #ddd;
  border-right-color: #888;
  border-bottom-color: #888;
}

.cell--free-1 {
  color: #00f;
}

.cell--free-2 {
  color: green;
}

.cell--free-3 {
  color: red;
}

.cell--free-4 {
  color: darkblue;
}

.cell--free-5 {
  color: brown;
}

.cell--free-6 {
  color: aqua;
}

.cell--free-7 {
  color: black;
}

.cell--free-8 {
  color: grey;
}

.cell--flagged {
  color: black;
}
